@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   background-image: url(./img/tp-pattern1.png); 
    background-position: center center;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.palabrasIncorrectas{
  width: 100%;
  height: 50%;
  
  margin-top: -30px;
  font-size: 1.0625rem;
  font-weight: bold;
}

/* estylos para la base del ahorcado */

/* .side_front{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
} */
.showNameUser{
  margin-top: 20px;
}
.nameUser{
    margin: 0;
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}
.base {
  height: 200px;
  width: 200px;
  top: -241px;
}
.lazo {
  height: 60px;
  width: 53px;
  position: absolute;
  left: 123px;
  
}
.head {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 132px;
  top: 43px;
}
.body {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 118px;
  top: 74px;
}
.right_arm {
  height: 45px;
  width: 45px;
  position: absolute;
  left: 90px;
  top: 67px;
}
.left_arm {
  height: 45px;
  width: 45px;
  position: absolute;
  transform: rotateY(180deg);
  left: 171px;
  top: 67px;
}
.right_leg {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 112px;
  top: 133px;
}
.left_leg {
  height: 50px;
  width: 50px;
  position: absolute;
  transform: rotateY(180deg);
  left: 145px;
  top: 133px;
}

/* esconder las imagenes del ahorcado */
.lazo,
.head,
.body,
.right_arm,
.left_arm,
.right_leg,
.left_leg,
.exclama {
  display: none;
}

/* terminan los estilos para la base del ahorcado */

/* .scoreUser{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;

  
} */
.score{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

}
.scoreUser h2{
  color: red;
}
.scoreUser  span{
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
}
.btn_exit_game{
  background: none;
  border: 0;
  font-size: 0.9375rem;
  color: red;
  width: 100%;
  height: 20px;
  line-height: 0;
  
}
.title_img > img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.title_img {
  display: flex;
  align-items: center;
  margin-top: 0px;
  
  
}
.text_user{
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    
    
}
.text_user:focus{
  outline: none;
}
.textCheck{
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}
.btn{
    width: 100px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(138 39 59);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    
}
.btn:hover{
  background-color:rgb(147, 53, 72);
}



.btn-genera{
  width: 130px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(138 39 59);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
  
}
.btn-genera:hover{
  background-color:rgb(147, 53, 72);
}


.btn_disabled_genera{
  width: 130px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(131 89 97);
    color: #a19d9d;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    cursor: not-allowed;
}

.btn_enviar{
  width: 100px;
  height: 30px;
  margin-top: 5px;
  background-color: rgb(131 89 97);
  color: #a19d9d;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  cursor: not-allowed;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgba(0,6,18,1) 0%, rgba(6,60,103,1) 100%, rgba(226,218,218,1) 100%);
  width: 1000px;
  min-height: 97vh;
  border-radius: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.showTextGameOver{
  font-size: 35px;
  font-weight: bold;
  animation: showTextGameOver 3s linear;
  
}

@keyframes showTextGameOver{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.showTextWinGame{
  font-size: 35px;
  font-weight: bold;
  animation: showTextWinGame 3s linear;
  margin-top: 10px;
}
.showTextWinGame p{
  color: rgb(161, 159, 159);
}
.showTextGameOver p{
  color: rgb(161, 159, 159);

}

.showTextWinGameChallenge p{
  color: rgb(161, 159, 159);
  font-size: 35px;
  font-weight: bold;
  animation: showTextWinGame 3s linear;
}

@keyframes showTextWinGame{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.classLetter{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.palabra{
  margin-top: -35px;
}
.palabra p {
  color: #fff;
  font-size: 41px;
  width: 35px;
  height: 46px;
  border-bottom: 1px solid #fff;
  margin-left: 20px;
  
  text-align: center;
  color: black;
}
.juegoPalabras {
  display: flex;
}

input > oracion {
  color: white;
}
.title_img h1 {
  color: white;
  font-family: 'Righteous', cursive;
  letter-spacing: 14px;
  font-size: 60px;
  margin: 0;
  
}
.inputUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.texChallenge{
  font-size: 15px;
  margin-top: 10px;
  color: white;
}
.inputUser h3{
  color: #ffff;
}
.label_user{
    font-weight: bold;
    font-size: 18px;

    
}
.text_user{
    margin-top: 10px;
}
.elementos {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 247px;
  margin-top: 30px;
}
.list-game{
  width: 160px;
  font-size: 17px;
}
.texto{
  width: 107px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;

}
.find-text input:focus{
  outline: none;
  border-bottom: 2px solid rgb(138 39 59);
  
  
}
.btn-insert-list,
.btn-find-text{
  display: flex;
  justify-content: center;
  align-items: center;

}
.generar{
  width: 130px;
}

.list-chec,
.insert_list,
.generar,
.find-text,
.generar {
  display: flex;
  justify-content: center;
  
}
.insert_list,
.generar {
  
  padding-top: 5px;
}

.btn_disabled{
  width: 100px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(131 89 97);
    color: #a19d9d;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    cursor: not-allowed;
}
.count-Word{
  display: none;
  margin-top: 5px;
}
.count-Word p {
  font-size: 16px;
  margin-top: 4px;
  text-align: center;
  color: #fff;
}
.error {
  display: none;
  justify-content: center;
  margin: 0 auto;
  width: 108px;
  height: 26px;
  border-radius: 10px;
  margin-top: 10px;
  
}
.error_{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.classLetter p {
  border-bottom: 1px solid #fff;
  color: #ffff;
  
}

.divUsuario{
  font-size: 30px;
  display: flex;
  
  
  
}
.usuario{
  opacity: 1;
  font-size: 25px;
}

.nameUsuario{
  opacity: 0;
  
}
.divUsuario p{
  font-size: 25px;
}

  
.backGame{
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius:30px;
  margin-top: 6px;

  
}
.btnGame{
  
  width: 160px;
  height: 50px;
  border-radius: 30px;
  outline: none;
  background-color: rgb(138 39 59);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s all;
  border: none;
  font-weight: bold;
  

}
.btnGame:hover{
  background-color:rgb(147, 53, 72);  

}

#wrongWords{
  
  font-size: 1.625rem;
  text-align: center;
  
}
footer{
  position: absolute;
  bottom: 15px;
  color: white;

}
footer a{
  color: rgb(147, 53, 72);
}



.imagenes_top{
  
  display: flex;
  justify-content: center;
  
  
  

}
.side_front{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
}
.imagenes_ahorcado{
  height: 225px;
  margin-top: 1.875rem;
  position: relative;
  z-index: 1;
}


.title-wrongWords{
  text-align: center;
  font-size: 1.4375rem;
}
.imagenes_funcion{
  width: 100%;
  height: 50%;
  margin-top: -194px;
}



/*-----------------medias query -----------------*/

@media(max-width:570px){
  .palabra p{
    width: 15px !important;
  }
}


@media(max-width : 475px){
  
  .title_img h1{
    font-size: 30px !important;
  }
  .inputUser h3{
    font-size: 12px !important;
  }
  .texChallenge{
    font-size: 12px !important;
  }
  .imagenes_ahorcado{
    margin-top: 13px !important;
  }
  .palabra p{
    width: 17px;
  }
}


/* **************************************************** */
@media(max-width : 1000px){

  .footer{
    display: none;
  }
  .main{
    width: 100%;
    display: flex;
    
    flex-direction: column;

  }
  .title_img{
    margin-top: -10px;
  } 
  .title_img h1{
    font-size: 35px;
  }
  .inputUser h3{
    font-size: 15px;
  }
  .texChallenge{
    font-size: 13px;
    margin-top: 5px;
    
  }
  .base{
    width: 100px;
    height: 105px;
  }
  .lazo{
    left: 58px;
    top: 5px;
    width: 35px;
    height: 34px;
  }
  .head{
    width: 30px;
    height: 30px;
    left: 61px;
    top: 24px;
  }
  .body{
    width: 45px;
    height: 42px;
    left: 54px;
    top: 48px;
  }
  .right_arm{
    height: 30px;
    width: 30px;
    left: 34px;
    top: 41px;
  }
  .left_arm{
    height: 30px;
    width: 30px;
    left: 88px;
    top: 41px;
  }
  .right_leg{
    height: 33px;
    width: 33px;
    left: 50px;
    top: 84px;
  }
  .left_leg{
    height: 33px;
    width: 33px;
    left: 69px;
    top: 84px;
  }
 
  .imagenes_funcion{
    margin-top: -140px;
  } 
  .imagenes_top{
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 135px;
    
    
    
  }
  .imagenes_ahorcado{
      
    margin-top: 5px;
  }
  
  .container{
    width: 97%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .palabrasIncorrectas{
    width: 100%;
    height: 17px;
    display: flex;
    justify-content: center;
    
  }
  .title-wrongWords{
    color: white;
    font-size: 12px;
    color:#ff000096;
  }
  #wrongWords{
    color: white;
    font-size: 12px;
    color:#ff000096;
  }
  .showTextGameOver p{
    font-size: 20px;
  }
  .showTextWinGame,
  .showTextGameOver{
    margin-top: -7px;
  }
  .showTextWinGame p{
    font-size: 20px;
  }
  .scoreUser h2{
    font-size: 12px;
  }
  .scoreUser span{
    font-size: 12px;
  }
  .score{
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .btn_exit_game{
    font-size: 12px;
  }
  .text_user{
    width: 170px;
    height: 27px;
    font-size: 15px;
  }
  .btn_enviar{
    width: 90px;
    height: 25px;
    font-size: 17px;
  }
  .btn{
    width: 90px;
    height: 25px;
    font-size: 17px;
  }
  .elementos{
    margin-top: 15px;
  }
  .list-game{
    font-size: 15px;
  }
  .btn_disabled{
    width: 90px;
    height: 25px;
    font-size: 15px;
  }
  .btn_disabled_genera{
    width: 90px;
    height: 25px;
    font-size: 13px;
  }
  .texto{
    margin-top: 5px;
    width: 50px;
    height: 27px;
  }
  .btn-genera{
    width: 90px;
    height: 25px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count-Word p{
    font-size: 13px;
  }
  .error{
    margin-top: 0;
    
  }
  .error_{
    font-size: 13px;
  }
  .palabra p{
    width: 26px;
    height: 25px;
    margin-left: 16px;
    margin-top: 5px;
  }
  .palabra{
    margin-top: -85px;
  }
  .backGame{
    margin-top: -60px !important;
  }
  .btnGame{
    width: 120px;
    height: 40px;
    font-size: 11px;
    font-weight: 100;
  }
  .side_front{
    width: 100%;
    height: 118px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

}

/* *********************************************************** */
@media(max-width: 375px){
  .showTextGameOver p{
    font-size: 15px;
  }
  .showTextWinGame p{
    font-size: 15px;
  }
  .palabra p{
    width: 12px !important;
  }
}